@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://unpkg.com/modern-normalize");

:root {
  --blue-color: #2196f3;
  --blue-focus-color: #188ce8;
  --blue-bg-color: #2f303a;
  --dark-color: #212121;
  --grey-color: #757575;
  --team-bg-color: #f5f4fa;
  --white-tr-color: rgba(255, 255, 255, 0.6);
  --white-color: #fff;
  --black-color: #000;
  --extra-width: max(0px, 50vw - 630px);
}
ul,
menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: var(--white-color);
}
.container {
  margin: 0 auto;
  /* max-width: 1200px; */
  padding: 0 15px;
  border: none;
}
/*#region header */
header > .container {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
  flex-wrap: wrap;
  font-weight: 500;
  letter-spacing: 0.28px;
}
header a {
  text-decoration: none;
  height: 80px;
  padding: calc(38px - 0.5em) 0;
  display: inline-block;
}
header > .container > a {
  > :first-child {
    color: var(--blue-color);
  }
  color: var(--black-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
header nav menu {
  display: flex;
  column-gap: 50px;
}
header nav a {
  color: var(--dark-color);
  position: relative;
  &::after {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    border: 2px solid var(--blue-color);
    border-radius: 2px;
  }
  &[href="#"],
  &:hover,
  &:focus {
    color: var(--blue-color);
    &::after {
      content: "";
    }
  }
}

#spacer1 {
  flex: 0 1 calc(42% - 346px);
}
.contact {
  display: flex;
  column-gap: 40px;
  margin-right: 10px;
  align-items: center;
}
.contact a {
  display: flex;
  color: var(--grey-color);
  &:hover,
  &:focus {
    color: var(--blue-color);
  }
  > svg {
    max-width: 1rem;
    max-height: 1rem;
    fill: currentColor;
    margin-right: 10px;
  }
} /*#endregion*/

/*#region index.html */
.head [data-modal] {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #0003;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: 0 0;
  /* transform: none; */
  transition: transform 250ms, opacity 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.service-request {
  font-size: 1rem;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  /* aspect-ratio: 528 / 581; */
  width: min(80%, 33em);
  /* height: min(80%, 36.3125em); */
  /* height: 56.65625%; */
  border-radius: 0.25em;
  background: #fff;
  padding: 2.5em;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  > svg[data-modal-close] {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    width: 1.875em;
    height: 1.875em;
    cursor: pointer;
    clip-path: circle();
    fill: black;
    &:hover {
      fill: var(--blue-color);
    }
  }
  & h3 {
    /* width: 28em; */
    color: var(--dark-color);
    text-align: center;
    font-size: 1.25em;
    font-weight: 700;
    letter-spacing: 0.03em;
    margin-bottom: 0.1em;
  }
  & label.input {
    color: var(--grey-color);
    font-size: 0.75em;
    letter-spacing: 0.01em;
    position: relative;
    display: block;
    text-align: left;
    padding-top: 0.833em;

    > textarea,
    > input {
      font-size: 1.33em;
      display: block;
      width: 100%;
      border-radius: 0.25em;
      border: 1px solid rgba(33, 33, 33, 0.2);
      margin-top: 0.25em;
      &:focus-visible {
        outline-color: var(--blue-color);
      }
    }
    > input {
      height: 2.5em;
      padding-left: 2.625em;
      &:focus-visible + svg {
        fill: var(--blue-color);
      }
    }
    > textarea {
      height: 7.5em;
      padding: 0.75em 1em;
      &::placeholder {
        color: rgba(117, 117, 117, 0.5);
        font-size: 0.75em;
        letter-spacing: 0.01em;
      }
    }
    > svg {
      position: absolute;
      width: 1.5em;
      height: 1.5em;
      top: 3.25em;
      left: 1em;
    }
  }
  & label[for="agree"] {
    &,
    & + a {
      margin-top: 1.4286em;
      height: 1.7143em;
      font-size: 0.875em;
      line-height: 171.429%;
      letter-spacing: 0.03em;
    }
    color: var(--grey-color);
    display: inline-block;
    position: relative;
    + a {
      color: var(--blue-color);
      text-decoration-line: underline;
    }
    > svg {
      position: absolute;
      top: 0.2857em;
      left: -0.3571em;
      width: 1.1429em;
      height: 1.0714em;
      .checked {
        opacity: 0;
      }
      /* top: 4px;
      left: -5px;
      width: 16px;
      height: 15px; */
    }
    > input {
      opacity: 0;
      &:checked + svg .checked {
        opacity: 1;
      }
    }
  }
  & input[type="submit"] {
    display: block;
    margin: 2.5em auto 0;
    width: 12.5em;
    height: 3.125em;
    border-radius: 0.25em;
    border: none;
    background: var(--blue-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--white-color);
    /* text-align: center; */
    /* font-size: 1em; */
    font-weight: 700;
    line-height: 1.875em; /* 187.5% */
    letter-spacing: 0.06em;
    &:hover {
      background-color: var(--blue-focus-color);
    }
  }
}
.is-hidden > div {
  opacity: 0;
}
.is-hidden {
  /* visibility: hidden; */
  pointer-events: none;
  opacity: 0;
  transform: scale(0.1);
  /* transform: matrix(var(--transformMatrix)); */
}
.head {
  background-color: #c4c4c4;
  background-image: linear-gradient(#2f303a66, #2f303a66),
    url("../images/head-bg.jpg");
  background-size: cover;
  background-position: center;
  /* width: 1600px; */
  max-height: 37.5em;
  font-size: 1rem;
  color: var(--white-color);
  text-align: center;
  padding: 12.5em 0;
  > h1 {
    font-size: 2.75em;
    font-weight: 900;
    line-height: 136.364%;
    letter-spacing: 0.165em;
    text-transform: uppercase;
    width: 16em;
    margin: 0 auto 1.875em;
  }
  > button {
    width: 12.5em;
    height: 3.125em;
    border-radius: 4px;
    border-style: none;
    background-color: var(--blue-color);
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); */
    font: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 187.5%;
    letter-spacing: 0.96px;
    cursor: pointer;
    color: var(--white-color);
    &:hover,
    &:focus {
      background-color: var(--blue-focus-color);
    }
  }
}

.about-us .container {
  display: flex;
  --gap: 30px;
  --space-left: max(0px, calc((25vw - 285px - var(--gap) * 3 / 4) / 4));
  gap: calc(var(--gap) + var(--space-left) * 2);
  padding: 94px var(--space-left) 0;
  flex-wrap: wrap;
  justify-content: center;
}
.about-us li {
  flex: 0;
  /* margin: 0 max(11px, calc((25% - 292px) / 4)); */
  letter-spacing: 0.42px;
  font-size: calc(1rem + var(--space-left, 0px) / 8.4375);
  width: 16.875em;
  /* &:not(:last-child) {
    margin-right: max(30px, calc((25% - 293px) / 2));
  } */
  > div:has(> svg) {
    border-radius: 0.25em;
    background: #f5f4fa;
    /* width: 270px; */
    text-align: center;
    width: 16.875em;
    height: 7.5em;
    padding: 1.5625em 6.25em;
    margin-bottom: 1.875em;
  }
  & svg {
    width: 4.375em;
    height: 4.375em;
  }
  > h3 {
    color: var(--dark-color);
    font-size: 0.875em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 10px;
  }
  > p {
    color: var(--grey-color);
    line-height: 171.429%;
    letter-spacing: 0.02625em;
  }
}
.n-section > h2 {
  color: var(--dark-color);
  text-align: center;
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: 0.0675rem;
  margin: 0 0 50px;
}
.n-section {
  padding: 94px 0;
}
.n-section .container {
  display: flex;
  /* --extra-width: max(0px, 50vw - 630px); */
  --part-width: calc(var(--extra-width) / var(--no-items, 2));
  gap: calc(30px + var(--part-width));
  padding: 0 calc(15px + var(--part-width) / 2);
  /* --no-items: counter(list-item); */
  flex-wrap: wrap;
  justify-content: center;
  > * {
    flex-grow: 0;
  }
}
.acts {
  --no-items: 3;
}
.acts li {
  font-size: calc(1rem + var(--part-width, 0px) / 23.125);
  width: 23.125em;
  position: relative;
}
.acts img {
  width: 100%; /* 370px; */
  /* height: 294px; */
}
.label {
  background: #2f303acc;
  height: 4.375em;
  width: 100%;
  padding: 1.7em 0;
  color: #fff;
  text-align: center;
  font-size: 0.875em;
  font-weight: 700;
  letter-spacing: 0.02625em;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
}
.team {
  --no-items: 4;
  background: var(--team-bg-color);
}
.team li {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  font-size: calc(1rem + var(--part-width, 0px) / 16.875);
  width: 16.875em;
  letter-spacing: 0.03em;
  > img {
    width: 100%; /* 270px; */
    /* height: 260px; */
  }
  > div {
    padding: 1.875em 0;
    text-align: center;
    > h3 {
      color: var(--dark-color);
      font-weight: 500;
      font-size: 1em;
      margin-bottom: 0.625em;
    }
    > .role {
      color: var(--grey-color);
      font-weight: 400;
    }
    > .social {
      margin: 1em 2em 0;
      > svg {
        fill: #afb1b8;
        &:hover {
          fill: var(--white-color);
          background-color: #2196f3;
        }
      }
    }
  }
}
/* .n-section.customers .container {
  --extra-width: max(0px, 50vw - 630px);
} */
.customers {
  --no-items: 6;
}
.customers li {
  border-radius: 4px;
  border: 1px solid #afb1b8;
  padding: 1em 2em;
  width: 10.625em;
  font-size: calc(1rem + var(--part-width, 0px) / 10.625);
  > svg {
    width: 6.625em;
    /* height: 60px; */
    aspect-ratio: 106/60;
    fill: #afb1b8;
  }
  &:hover {
    border-color: #2196f3;
    > svg {
      fill: #2196f3;
    }
  }
} /*#endregion*/

/*#region footer */
.social {
  display: flex;
  justify-content: space-between;
  > svg {
    /* width: 100%; /* 44px; */
    /* height: 44px; */
    aspect-ratio: 1;
    clip-path: circle(50%);
  }
}
footer {
  /* width: 1600px; */
  /* height: 251px; */
  background: var(--blue-bg-color);
  padding: 60px 0;
}
footer .container {
  display: flex;
}
#footer-address > a:first-child {
  > :first-child {
    color: var(--blue-color);
  }
  text-decoration: none;
  color: var(--white-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
#footer-address > address {
  margin-top: 28px;
  color: var(--white-color);
  letter-spacing: 0.42px;
  font-style: normal;
  width: 231px;
  & .address ~ * {
    /* flex-shrink: 0; */
    margin-top: 12px;
    color: var(--white-tr-color);
    line-height: 114.286%;
  }
}
#footer-social-media {
  margin: 15px 0 0 70px;
  > h4 {
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }
  > .social {
    margin-top: 20px;
    column-gap: 10px;
    > svg {
      height: 44px;
      fill: var(--white-color);
      background-color: #ffffff1a;
      &:hover {
        background-color: #2196f3;
      }
    }
  }
} /*#endregion*/

/*#region portfolio.html */
section:has(.filter) {
  padding: 94px 0;
  > .container {
    text-align: center;
  }
}
.filter {
  margin: 0 auto 50px;
  display: inline-flex;
  column-gap: 8px;
}
.filter button {
  color: var(--dark-color);
  background: var(--team-bg-color);
  text-align: center;
  font: inherit;
  font-size: max(1rem, 1vw);
  min-width: 5.5em;
  font-weight: 500;
  line-height: 162.5%;
  letter-spacing: 0.48px;
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  &:hover,
  &:focus {
    color: var(--white-color);
    background: var(--blue-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
      0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }
}
.projects {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.projects li {
  /* flex: 0 0 calc((100% - 60px) / 3); */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
      0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    > .narative > div {
      transform: translateY(min(-265px, -100%));
      height: 100%;
      padding-top: 3.94rem;
    }
  }

  > .narative {
    position: relative;
    > img {
      width: 100%; /* 370px; */
      /* height: 294px; */
    }
    > div {
      position: absolute;
      height: 0;
      padding: 0 1.5rem;
      overflow: hidden;
      color: #fff;
      font-size: 1.125rem;
      line-height: 155.556%;
      letter-spacing: 0.03375rem;
      background-color: #2196f3e5;
      transition-property: transform, height, padding-top;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  > .narative + div {
    border: 1px solid #eee;
    border-top: none;
    padding: 20px 24px;
    background: #fff;
    position: relative;
    > h3 {
      color: var(--dark-color);
      font-size: 18px;
      font-weight: 700;
      font-style: normal;
      line-height: 200%;
      letter-spacing: 1.08px;
    }
    > span {
      margin-top: 4px;
      color: var(--grey-color);
      font-size: 16px;
      font-weight: 400;
      line-height: 187.5%;
      letter-spacing: 0.48px;
    }
  }
} /*#endregion*/
