@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://unpkg.com/modern-normalize");

:root {
  --blue-color: #2196f3;
  --blue-focus-color: #188ce8;
  --blue-bg-color: #2f303a;
  --dark-color: #212121;
  --grey-color: #757575;
  --team-bg-color: #f5f4fa;
  --white-tr-color: rgba(255, 255, 255, 0.6);
  --white-color: #fff;
  --black-color: #000;
  --extra-width: max(0px, (100vw - 1170px)/2);
}
ul,
menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: var(--white-color);
}
.container {
  margin: 0 auto;
  /* max-width: 1200px; */
  padding: 0 15px;
  border: none;
}
/*#region header */
header > .container {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  border-bottom: 1px solid #ececec;

  font-weight: 500;
  letter-spacing: 0.28px;
}
header a {
  text-decoration: none;
  height: 80px;
  padding: calc(38px - 0.5em) 0;
  display: inline-block;
}
header > .container > a {
  > :first-child {
    color: var(--blue-color);
  }
  color: var(--black-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
header nav menu {
  display: flex;
  column-gap: 50px;
}
header nav a {
  color: var(--dark-color);
  &[href="#"],
  &:hover,
  &:focus {
    color: var(--blue-color);
  }
}

#spacer1 {
  flex: 0 1 calc(42% - 346px);
}
.contact {
  display: flex;
  column-gap: 40px;
  margin-right: 10px;
  align-items: center;
}
.contact a {
  display: flex;
  color: var(--grey-color);
  &:hover,
  &:focus {
    color: var(--blue-color);
  }
  > svg {
    max-width: 1rem;
    max-height: 1rem;
    fill: currentColor;
    margin-right: 10px;
  }
} /*#endregion*/

/*#region index.html */
.head {
  background-color: #c4c4c4;
  background-image: linear-gradient(#2f303a66, #2f303a66),
    url("../images/head-bg.jpg");
  background-size: cover;
  /* width: 1600px; */
  height: 600px;
  color: var(--white-color);
  text-align: center;
  padding: 200px 0;
  > h1 {
    font-size: 44px;
    font-weight: 900;
    line-height: 136.364%;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    width: 16em;
    margin: 0 auto 30px;
  }
  > button {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border-style: none;
    background-color: var(--blue-color);
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); */
    font: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 187.5%;
    letter-spacing: 0.96px;
    cursor: pointer;
    color: var(--white-color);
    &:hover,
    &:focus {
      background-color: var(--blue-focus-color);
    }
  }
}

.about-us .container {
  display: flex;
  --gap: 30px;
  --space-left: max(0px, calc((25% - 270px + var(--gap) * 3 / 4) / 4));
  column-gap: calc(var(--gap) + var(--space-left) * 2);
  padding: 94px var(--space-left) 0;
}
.about-us li {
  flex: 1;
  /* margin: 0 max(11px, calc((25% - 292px) / 4)); */
  letter-spacing: 0.42px;
  /* &:not(:last-child) {
    margin-right: max(30px, calc((25% - 293px) / 2));
  } */
  > div:has(> svg) {
    border-radius: 4px;
    background: #f5f4fa;
    /* width: 270px; */
    text-align: center;
    height: 120px;
    padding: 25px 100px;
    margin-bottom: 30px;
  }
  & svg {
    width: 70px;
    height: 70px;
  }
  > h3 {
    color: var(--dark-color);
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 10px;
  }
  > p {
    color: var(--grey-color);
    line-height: 171.429%;
    letter-spacing: 0.02625rem;
  }
}
.n-section > h2 {
  color: var(--dark-color);
  text-align: center;
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: 0.0675rem;
  margin: 0 0 50px;
}
.n-section {
  padding: 94px 0;
}
.n-section .container {
  display: flex;
  --part-width: calc(var(--extra-width) / var(--no-items, 2));
  column-gap: calc(30px + var(--part-width));
  padding: 94px calc(15px + var(--part-width) / 2);
  /* --no-items: counter(list-item); */
  > * {
    flex-grow: 1;
  }
}
.acts {
  --no-items: 3;
}
.acts img {
  width: 100%; /* 370px; */
  /* height: 294px; */
}
.team {
  --no-items: 4;
  background: var(--team-bg-color);
}
.team li {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  font-size: 1rem;
  letter-spacing: 0.03rem;
  > img {
    width: 100%; /* 270px; */
    /* height: 260px; */
  }
  > div {
    padding: 30px 0;
    text-align: center;
    > h3 {
      color: var(--dark-color);
      font-weight: 500;
      font-size: 1rem;
      margin-bottom: 10px;
    }
    > .role {
      color: var(--grey-color);
      font-weight: 400;
    }
    > .social {
      margin: 16px 32px 0;
      > svg {
        fill: #afb1b8;
        &:hover {
          fill: var(--white-color);
          background-color: #2196f3;
        }
      }
    }
  }
}
.customers {
  --no-items: 6;
}
.customers li {
  border-radius: 4px;
  border: 1px solid #afb1b8;
  padding: 16px 32px;
  > svg {
    width: 100%;
    /* height: 60px; */
    aspect-ratio: 106/60;
    fill: #afb1b8;
  }
  &:hover {
    border-color: #2196f3;
    > svg {
      fill: #2196f3;
    }
  }
} /*#endregion*/

/*#region footer */
.social {
  display: flex;
  justify-content: space-between;
  > svg {
    width: 100%; /* 44px; */
    /* height: 44px; */
    aspect-ratio: 1;
    clip-path: circle(50%);
  }
}
footer {
  /* width: 1600px; */
  /* height: 251px; */
  background: var(--blue-bg-color);
  padding: 60px 0;
}
footer .container {
  display: flex;
}
#footer-address > a:first-child {
  > :first-child {
    color: var(--blue-color);
  }
  text-decoration: none;
  color: var(--white-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
#footer-address > address {
  margin-top: 28px;
  color: var(--white-color);
  letter-spacing: 0.42px;
  font-style: normal;
  width: 231px;
  & .address ~ * {
    /* flex-shrink: 0; */
    margin-top: 12px;
    color: var(--white-tr-color);
    line-height: 114.286%;
  }
}
#footer-social-media {
  margin: 15px 0 0 70px;
  > h4 {
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }
  > .social {
    margin-top: 20px;
    column-gap: 10px;
    > svg {
      height: 44px;
      fill: var(--white-color);
      background-color: #ffffff1a;
      &:hover {
        background-color: #2196f3;
      }
    }
  }
} /*#endregion*/

/*#region portfolio.html */
section:has(.filter) {
  padding: 94px 0;
  > .container {
    text-align: center;
  }
}
.filter {
  margin: 0 auto 50px;
  display: inline-flex;
  column-gap: 8px;
}
.filter button {
  color: var(--dark-color);
  background: var(--team-bg-color);
  text-align: center;
  font: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 162.5%;
  letter-spacing: 0.48px;
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  &:hover,
  &:focus {
    color: var(--white-color);
    background: var(--blue-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
      0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }
}
.projects {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.projects li {
  /* flex: 0 0 calc((100% - 60px) / 3); */
  background: #fff;
  &:hover {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
      0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  }

  > img {
    width: 100%; /* 370px; */
    /* height: 294px; */
  }
  > div {
    border: 1px solid #eee;
    border-top: none;
    padding: 20px 24px;
    > h3 {
      color: var(--dark-color);
      font-size: 18px;
      font-weight: 700;
      font-style: normal;
      line-height: 200%;
      letter-spacing: 1.08px;
    }
    > span {
      margin-top: 4px;
      color: var(--grey-color);
      font-size: 16px;
      font-weight: 400;
      line-height: 187.5%;
      letter-spacing: 0.48px;
    }
  }
} /*#endregion*/
